<h1><%= @restaurant.name %></h1>
<p>
  <%= link_to "Home", restaurants_path %>
</p>
<%= @restaurant.address %><br>
<%= @restaurant.phone_number %><br>
<%= @restaurant.category %><br><br>
<p>
  <%= link_to "Edit", edit_restaurant_path(@restaurant) %> <%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" } %>
</p>
<h3>Add a review</h3>
<p>
  <%= render "review_form", restaurant: @restaurant, review: Review.new %>
</p>
<h3>Reviews</h3>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %> <%= "â­" * review.rating %></p>
<% end %>
